<main class="container mt-3">
    <h1>Cookie policy</h1>
    <h2>Lorem ipsum dolor</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nobis placeat exercitationem sint eum? Non
        odit expedita quasi voluptatum sed aspernatur reiciendis unde recusandae qui. Blanditiis suscipit quo accusamus
        ab?
        Pariatur quae vitae illum a maxime corrupti asperiores ad repellendus odit maiores ipsa, sequi eum eligendi
        voluptatem. Rem deserunt earum sed tempora nobis repudiandae ex non? Ipsam laboriosam id deserunt.
        Perferendis voluptatibus ipsam similique et natus nesciunt accusamus, delectus quidem ducimus libero iusto. Esse
        porro sunt corporis quasi cupiditate quo velit vel. Beatae, explicabo doloribus voluptates nostrum alias tempore
        tenetur!</p>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nobis placeat exercitationem sint eum? Non
        odit expedita quasi voluptatum sed aspernatur reiciendis unde recusandae qui. Blanditiis suscipit quo accusamus
        ab?
        Pariatur quae vitae illum a maxime corrupti asperiores ad repellendus odit maiores ipsa, sequi eum eligendi
        voluptatem. Rem deserunt earum sed tempora nobis repudiandae ex non? Ipsam laboriosam id deserunt.
        Perferendis voluptatibus ipsam similique et natus nesciunt accusamus, delectus quidem ducimus libero iusto. Esse
        porro sunt corporis quasi cupiditate quo velit vel. Beatae, explicabo doloribus voluptates nostrum alias tempore
        tenetur!</p>
    <h2>Lorem ipsum dolor</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur non eum quod quo! Excepturi rem maiores minus laborum harum consectetur officia. Fuga vel odit molestiae quod iusto cupiditate ullam necessitatibus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur non eum quod quo! Excepturi rem maiores minus laborum harum consectetur officia. Fuga vel odit molestiae quod iusto cupiditate ullam necessitatibus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur non eum quod quo! Excepturi rem maiores minus laborum harum consectetur officia. Fuga vel odit molestiae quod iusto cupiditate ullam necessitatibus.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur non eum quod quo! Excepturi rem maiores minus laborum harum consectetur officia. Fuga vel odit molestiae quod iusto cupiditate ullam necessitatibus.</li>
    </ul>
    <h2>Lorem ipsum dolor</h2>
    <q>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, exercitationem sit cupiditate ea error eius maxime adipisci odit magni qui fuga, excepturi consectetur minima quia odio laborum totam et doloribus!</q>
</main>